@media screen and (min-width: 768px) {
	 #desktopview {
		display:block !important;
		
    }
    
        #mobileview {
    	display:none;
    }

}

.navbar {
    padding-top:25px;
	padding-bottom:10px;
	background-color:#4d94ff;
	height:auto;
}

.navbar-nav>li>a {
	margin-top:30px;
	padding:10px 15px 0px;
	font-weight:bold;
	font-size:18px;
	color:#fff !important;
	font-family:'Quicksand', sans-serif !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
 border:1px solid #fff;
 border-width:0px 5px 0px 0px;

    
}

.navbar-toggle {
	padding:15px;
	margin-bottom: 0px;
}
.navbar-brand {
	
	padding:23px 15px 0px;
	font-size:40px;
	color:#b3ffb3 !important;
	font-family: 'Yanone Kaffeesatz', sans-serif !important;
}

.callnow {
	padding-bottom:10px;
	font-size: 16px;
	text-decoration:none !important;
	color:#fff !important;

}

#sitenavbar {

}


#myCarousel {
	margin-top:5px;
	margin-bottom:15px;

}

#desktopview {
	display:none;	
}

.services h4 {
	margin-top:20px !important;
}

.carousel-control {
	opacity:0.1;
	color:#000 !important;
}

.item img {
	margin:auto;
}

.pindent {
	padding-left:25px;
	margin-bottom:0px;
	padding-right:25px;
}

.services {
	margin-top:20px;
	background-color:#e6f2ff;
	margin-bottom:20px;
	padding-bottom:70px;
	font-family:'Quicksand', sans-serif !important;
}

.services p {
	    padding-right:25px;
    padding-left:25px;
}

#bgimg {
	margin-top:120px;
	margin-bottom:10px;
	box-shadow: 5px 5px 5px #888888;
}

#about {
	font-family: 'Quicksand', sans-serif !important;
	padding:15px 25px 10px;
	color:#262626;
	margin-bottom:10px;
}



#about p {
	margin-bottom:20px;
	font-weight:lighter;
	font-size:14px;
}

#contactbtn {
	width:200px;
	background-color:#99ccff;
	color:#fff;
}

#contactbtn:hover {
	background-color:#99ccff;
	color:#fff;
}

#contactbtn a {
	text-decoration: none;

}



.contactus {
	font-family: 'Quicksand', sans-serif !important;
	margin-top:20px;	
	margin-bottom:70px;
	padding-bottom:50px;
}

.footer {
	background-color:#4d94ff;
	font-family: 'Quicksand', sans-serif !important;
   	left:0px;
   	bottom:0px;
   	width:100%;
   	height:auto;
   	padding-bottom:10px;
}

.footer a {
	display:block;
	color:#fff;
}

.footerlinks {
	padding-left:130px;
	padding-top:25px;
	margin-bottom:0px;
}

#disclaimer {
	padding-top:60px;
}

#headerimg {
	width:100% !important;
	opacity: 0.8;
	margin-top:70px;
}

