@media screen and (min-width: 768px) {
	 #desktopview {
		display:block !important;
    }
        #mobileview {
    	display:none;
    }

}

.icon-bar {
	height:5px !important;
	background-color:#fff !important;
}

.dropdown-menu {
	padding:10px;
	background-color:#4D94FF;

}

.dropdown-menu>li>a {
	font-family:'Quicksand', sans-serif;
	padding:10px;
	font-size:14px;
	color:#FFFFFF;
}

.navbar {
    padding-top:15px;
	padding-bottom:10px;
	background-color:#4d94ff;
	height:auto;
}


.navbar-nav>li>a {

	padding:15px 15px 0px;
	font-weight:bold;
	font-size:16px;
	color:#fff !important;
	font-family:'Quicksand', sans-serif !important;
}

.navbar-nav li a:hover, .navbar-nav li a:active {
color:#54549F !important;
background-color:#F5F5F5;
    
}


.logo {
	width:50px;
	height:50px;

}

#logotxt {
	line-height:85px;
	font-size:36px;
	color:#54549F !important;
	font-family: 'Yanone Kaffeesatz', sans-serif !important;
}

/*adjust collapse and open nav component position here*/
.navbar-toggle, .collapse {
	margin-top:15px;
	margin-bottom: 0px;
}
/*adjust collapse and open nav component position here*/

.navbar-toggle:hover, navbar-toggle:active {

	background-color:#54549F !important;
}

.navbar-brand {
	

	font-size:38px;
	color:#54549F !important;
	font-family: 'Yanone Kaffeesatz', sans-serif !important;
}

#myCarousel {
	margin-top:0px;
	margin-bottom:10px;

}

#desktopview {
	display:none;	
}

#desktopview a {
	text-decoration:none;
}

#desktopview a:hover {
	color:#54549F;
}

.services h4 {
	margin-top:20px !important;
}

.carousel-control {
	opacity:0.6;
	color:#fff !important;
}

.item img {
	margin:auto;
}

.pindent {
	padding-left:25px;
	margin-bottom:0px;
	padding-right:25px;
}

.services {
	margin-top:20px;
	background-color:#e6f2ff;
	margin-bottom:20px;
	padding-bottom:70px;
	font-family:'Quicksand', sans-serif !important;
}

.services p {
	    padding-right:25px;
    padding-left:25px;
}

#bgimg {
	margin-top:120px;
	margin-bottom:10px;
	box-shadow: 5px 5px 5px #888888;
}

#about {
	font-family: 'Quicksand', sans-serif !important;
	padding:15px 25px 10px;
	color:#262626;
	margin-bottom:0px;
}

#about p, #services p, #about ul, #contact p {
	margin-bottom:20px;
	font-weight:lighter;
	font-size:12px;
}

#contactbtn {
	width:200px;
	background-color:#4d94ff;
	color:#fff;
	font-size:16px;
}

#contactbtn:hover {
	background-color:#99ccff;
	color:#fff;
}

#contactbtn a {
	text-decoration: none;

}

.contactus {
	font-family: 'Quicksand', sans-serif !important;
	margin-top:20px;	
	margin-bottom:20px;
	padding-bottom:50px;
}

.footer {
	background-color:#4d94ff;
	font-family: 'Quicksand', sans-serif !important;
   	left:0px;
   	bottom:0px;
   	width:100%;
   	height:auto;
   	padding-bottom:10px;
}

.footer a {
	display:block;
	color:#fff;
}

.footerlinks {
	padding-left:170px;
	padding-top:25px;
	margin-bottom:0px;
	font-size:10px;
}

#disclaimer {
	padding-top:80px;
}

#headerimg {
	width:100% !important;
	opacity: 0.8;
	margin-top:70px;
}

